<div class="jumbotron center">
    <h1>What's going on here?</h1>
    <p>Pinster is a simple photo-sharing app created by Christian Carey. This site was built with Ruby on Rails and Bootstrap.</p>
</div>

